*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  'Times New Roman', Times, serif ;
}
.navbar {
    background: #b9e6ff	;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    position: sticky;
    top: 0;
    z-index: 999;   
}
.banner{
    height: 600px;
    background: #b9e6ff;
}
.navbar__container {
    display: flex;
    justify-content: center;
    height: 150px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 50px;
    padding: 0 50px;
}
.hide{
    display: none;
}
.hamburger__menu{
    visibility: hidden;
    width: 22px;
  height: 2px;
  right: 100px;
  background-color: #572D79;
  margin:3px 3px 3px 3px;
}

@media only screen and (max-width: 960px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family:  'Times New Roman', Times, serif ;
    }
    .mobile-view{
        margin: unset;
        padding: unset;
    }
    .navbar__logo{
        width: 80px;
        height: 80px;
        position: absolute;
        top: 20px;
        left: 30px;
    }
    .hamburger__menu{
        visibility: visible;
    }
   
    .navbar__item{
        display: none;
    }
    .navbar{
        display: none;
    }
    .navbar__container{
        display: none;
    }
    .banner__container{
        background: #b9e6ff;
        height: 300px;
        display: flex;
    }
    .banner__image{
        height: 250px;
        width: 200px;
        float: right;
        padding: 7px;
    }
    .banner__section1{
        width: 45%;
    }
    .banner__section2{
        display: flex;
        justify-content: flex-start;
        width: 55%;
    }
    .banner__p{
        color: #9e7e2a;
        font-size: large;
        font-weight: bold;
        text-align: center;
        padding:100px 20px 90px 70px;
        position: relative;
  animation: mymove 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
    }
    @keyframes mymove {
        from {left: -90px;}
        to {left: 20px;}
      }

    .menu{
        height: 50px;
        margin: 30px;
        display: flex;
        justify-content: flex-end;
    }
    .menu1{
        height: 30px;
        width: 38px;
        padding: 5px 2px 2px 5px ;
        text-align: center;
        background: #F6CE55;
        border-radius: 6px;
    }
    .navbar__links {
        color: #9e7e2a;
        display: flex;
        align-items: flex-start;
        text-decoration: none;
        padding: 5px 50px;
        height: 100%;
    }
    .introduction{
        margin: 20px 0;
       height: 230px;
       width: 100%;
    }
    .introduction__header{
        text-align: center;
        color: #9e7e2a;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
        'Lucida Sans', Arial, sans-serif;
        font-size: medium;
        font-weight: bold;
    }
    .introduction__paragraph{
        text-align: center;
        padding: 10px 50px;
        color: #9e7e2a;
        font-size: medium;
    }
    .flavory__tales__video{
        flex-direction: column;
        align-items: center;
    }
    .iframe__videos{
        flex-direction: column;
        align-items: center;
    }
    .videos{
        padding: 0 100px;
    }
    .features__container{
        height: 200px;
        color: antiquewhite;
    }
    
    .features__links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .features__item_1{
        background-color: #F6CE55;
        display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            text-align: center;
            margin-left: 3px;
            padding-left: 10px;
            padding-top: 10px;
        
    }
    .features__item__img{
        padding-left: 10px;
        padding-right: 10px;
        height: 30px;
    }
    .features__item__img1{
        padding-left: 10px;
        padding-right: 10px;
        height: 20px;
    }
    .features__item__name{
        padding-left: 10px;
        padding-right: 10px;
        font-size: large;
    }
    
    .features__item_2{
    background-color: #572D79;
    display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        text-align: center;
        margin-left: 3px;
        padding-left: 10px;
        padding-top: 10px;
    
    }
    .flavory__tales__container{
        height: 1070px;
        padding: 10px;
        background-color: #FAF9F6;
    }
    .flavory__tales__h1{
        padding-top: 25px;
        padding-bottom: 25px;
        font-size:35px;
        font-weight: 550;
        text-align: center;
        color: #ddecf3;
    }
    .flavory__tales__video{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    .btn{
        padding: 0px 130px;
    }
    .flavory__tales__more_btn{
        padding: 10px 10px;
        margin: 10px;
        background-color: #572D79;
        text-align: center;
        width: 180px;
        height: 45px;
        color: #FAF9F6;
        border-radius: 30px;
        size: 1.0rem;
    }
    
    .footer{
        background: #b9e6ff;
        height: 460px;   
    }
    .footer__container{
        margin: 5px;
        padding: 10px;
    }

    .footer__logo{
        height: 100px;
        padding-left: 85px;
    }
    .footer__elements{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer__enquiry{
        margin:10px;
        width: 90%;
        display: flex;
        
        align-items: flex-start;
    }
    .footer__navbar{
        width: 50%;
    }
    .footer__navbar__links{
        display: grid;
        color: #9e7e2a;
        font-size: 0.8rem;
        font-family:  sans-serif;  
          font-weight: bold;
          row-gap: 5px;
        grid-template-columns: auto auto auto auto auto auto;
        padding: 10px;
    }
    .footer__item{
        padding: 5px;
        font-size: 11px;
        text-align: center;
      }
      .mySearch{
        border-radius: 20px;
      }
.send-button{
    padding: 5px 5px;
        margin: 10px;
        background-color: #572D79;
        text-align: center;
        width: 80px;
        height: 35px;
        color: #FAF9F6;
        border-radius: 30px;
        size: 1.0rem;
}

      .footer__socials{
        margin: 10px;
        width: 65%;
        display: flex;
    
    }
      .footer__socials__links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        max-width: 70%;
        max-height: 50%;
        column-gap: 6px;   
    }
}
.navbar__menu {
    display: flex;
    list-style: none;
    text-align: center;

}
.navbar__menu__left {
    width: 50%;
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;

}
.navbar__menu__right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;

}

.navbar__item {
   height: 80px;

}


.navbar__links:hover{
    color: #F6CE55;
}
.navbar__logo{
    max-width: 120%;
    max-height: 120%;
}


@media only screen and (min-width: 960px) {
    .mobile-view{
        display: none;
    }
    .navbar__links {
        color: #a59963;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 0 1rem;
        height: 100%;
    }
    .menu{
        display: none;
    }

    .banner__container{
        height: 600px;
        display: flex;
    }

    .banner__section1{
        width: 45%;
    }
    .banner__section2{
        display: flex;
        justify-content: flex-start;
        width: 55%;
    }
    .banner__p{
        color: #9e7e2a;
        font-size: xxx-large;
        font-weight: bold;
        text-align: center;
        padding:180px 40px 180px 300px;
    }
    .banner__image{
        height: 600px;
        width: 500px;
        float: right;
    }

.introduction{
    height: 350px;
    margin: 20px 400px;
}
.introduction__header{
    padding-top: 50px;
    text-align: center;
    color: #9e7e2a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
  font-weight: bold;

}
.introduction__paragraph{
    padding-top: 50px;
text-align: center;
color: #9e7e2a;
font-size: larger;
}
.features__container{
    height: 50px;
    color: antiquewhite;
}

.features__links{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.features__item__img{
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}
.features__item__img1{
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
}
.features__item__name{
    padding-left: 10px;
    padding-right: 10px;
}
.features__item_1{
    background-color:#F6CE55 ;
    display: flex;
    align-items: center;
    width: 25%;
    height: 50px;
    text-align: center;
    margin-left: 3px;
    padding-left: 10px;
    padding-top: 10px;
}
.features__item_2{
    background-color: #572D79;
    display: flex;
        align-items: center;
        width: 25%;
        height: 50px;
        text-align: center;
        margin-left: 3px;
        padding-left: 10px;
        padding-top: 10px;
    
    }
    .flavory__tales__container{
        height: 700px;
        padding: 0 180px;
        background-color: #FAF9F6;
    }
    .flavory__tales__h1{
        padding-top: 50px;
        padding-bottom: 50px;
        font-size:120px;
        font-weight: 550;
        text-align: center;
        color: #ddecf3;
    }
    .flavory__tales__video{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .btn{
        padding: 0px 90px;
    }
    .flavory__tales__more_btn{
        padding: 10px 10px;
        margin: 60px 420px;
        background-color: #572D79;
        text-align: center;
        width: 180px;
        height: 45px;
        color: #FAF9F6;
        border-radius: 30px;
        size: 1.0rem;
    }
    
    .footer{
        background: #b9e6ff;
        height: 320px;   
    }
    .footer__container{
        margin: 0px 100px;
        padding: 20px 100px;
    }

    .footer__logo{
        width: 30%;
        height: 30%;
        padding-bottom: 10px;
    
    }
    .footer__elements{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer__enquiry{
        width: 50%;
        display: flex;
        align-items: end;
    }
    .footer__navbar{
        width: 50%;
        padding-bottom: 20px;
    
    }
    .footer__navbar__links{
        display: flex;
        justify-content: space-around;
        color: #a59963;
        font-size: 0.8rem;
        font-family:  sans-serif;  
          font-weight: bold;
    }
    .footer__socials{
        width: 50%;
        display: flex;
    
    }

    .footer__socials__links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        max-width: 30%;
        max-height: 30%;
        column-gap: 5px;
        
    }
}
.banner{
    background: #FAF9F6;
    height: 300px;
}


.flavory__tales__video{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}
.flavory__tales__video__p{
    color: #a59963;
    text-align: center;
    font-size: medium;
    padding-top: 15px;
    padding-bottom: 15px;
}
.iframe__videos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    height: 220px;
    width: 350px;
}
.line {
    border-bottom: 1px solid #a59963;
    margin-top: 5px;
    width: 100%;
    padding-bottom: 20px;
}
.footer__copyright{
    color: #a59963;
    font-size: small;
    padding-top: 10px;
}